
<div class="banner">
    <div class="background-img">
        <img src="/assets/image/sunset.jpg" alt="Background">
    </div>
    <div class="banner-text">
        Discover Unforgettable Experience
    </div>
    <button class="banner-btn" onclick="location.href='/planning'">
        Make your own plan
    </button>
</div>
<div class="section-01">
    <div class="calendar">
        <div class="month">
        <a href="#" class="nav">
            <img src="/assets/icon/left-arrow.svg" alt="Left" width="24" height="24">
        </a>
        <div>January <span class="year">2019</span></div>
        <a href="#" class="nav">
            <img src="/assets/icon/right-arrow.svg" alt="Right" width="24" height="24">
        </a>
        </div>
    
        <div class="days">
            <span>Mon</span>
            <span>Tue</span>
            <span>Wed</span>
            <span>Thu</span>
            <span>Fri</span>
            <span>Sat</span>
            <span>Sun</span>
        </div>
        <div class="dates">
            <button>
                <time>1</time>
            </button>
            <button>
                <time>2</time>
            </button>
            <button>
                <time>3</time>
            </button>
            <button>
                <time>4</time>
            </button>
            <button>
                <time>5</time>
            </button>
            <button>
                <time>6</time>
            </button>
            <button>
                <time>7</time>
            </button>
            <button>
                <time>8</time>
            </button>
            <button>
                <time>9</time>
            </button>
            <button>
                <time>10</time>
            </button>
            <button>
                <time>11</time>
            </button>
            <button>
                <time>12</time>
            </button>
            <button>
                <time>13</time>
            </button>
            <button>
                <time>14</time>
            </button>
            <button>
                <time>15</time>
            </button>
            <button>
                <time>16</time>
            </button>
            <button>
                <time>17</time>
            </button>
            <button class="today">
                <time>18</time>
            </button>
            <button>
                <time>19</time>
            </button>
            <button>
                <time>20</time>
            </button>
            <button>
                <time>21</time>
            </button>
            <button>
                <time>22</time>
            </button>
            <button>
                <time>23</time>
            </button>
            <button>
                <time>24</time>
            </button>
            <button>
                <time>25</time>
            </button>
            <button>
                <time>26</time>
            </button>
            <button>
                <time>27</time>
            </button>
            <button>
                <time>28</time>
            </button>
            <button>
                <time>29</time>
            </button>
            <button>
                <time>30</time>
            </button>
            <button>
                <time>31</time>
            </button>
        </div>
    </div>
    <div class="week-highlight">
        <h2>Highlight of <span>this week</span></h2>
        <!-- Carousel container -->
        <div class="carousel-container">
            <button class="prev">
                <img src="/assets/icon/left-arrow.svg" alt="Left" width="24" height="24">
            </button>
            <div class="carousel-slide active">
                <img src="/assets/image/workshop.png" alt="">
            </div>
            <div class="carousel-slide">
                <img src="/assets/image/banner.png" alt="">
            </div>
            <div class="carousel-slide">
                <img src="/assets/image/baking.jpg" alt="">
            </div>
            <button class="next">
                <img src="/assets/icon/right-arrow.svg" alt="Right" width="24" height="24">
            </button>
        </div>
    </div>
</div>

<div id="locations-container">
</div>

<script src="/js/homepage.js"></script>