
<div class="main-content">
    <div class="yourplan">
        <span class="your">Your</span> <span class="plan">Plan</span>
    </div>
    <div class="body-container">
        <section id="plan-details" class="plan-details">
            <!-- taking data from data.js, working in plandetails.js -->
        </section>
        <div class="action-buttons">
            <button type="button" class="back-button" onclick="location.href='../Planning/planning.html'">Back</button>
            <button type="button" class="regenerate-button">Regenerate</button>
            <button type="button" class="finish-button" onclick="location.href='../../../../DateWiseUI/homepage/homepage.html'">Finish</button>
        </div>
    </div>
</div>

<script src="/js/data.js"></script>
<script src="/js/plandetails.js"></script>