<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onboarding</title>
    <link rel="stylesheet" href="onboarding2.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <style>
        .material-symbols-outlined {
            font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 40;
            font-size: 61px; 
        }
    </style>
    <script>
        function back() {
            const selectedLocations = $('#location-dropdown').val().join(',');
            localStorage.setItem('selectedLocations', selectedLocations);
            window.location.href = '/onboarding_1';
        }
        function finish() {
            const mainCourse = localStorage.getItem('mainCourse') ? localStorage.getItem('mainCourse').split(',') : [];
            const dessert = localStorage.getItem('dessert') ? localStorage.getItem('dessert').split(',') : [];
            const cuisine = localStorage.getItem('cuisine') ? localStorage.getItem('cuisine').split(',') : [];
            const activity = localStorage.getItem('activity') ? localStorage.getItem('activity').split(',') : [];
            const selectedLocations = $('#location-dropdown').val() ? localStorage.getItem('selectedLocations').split(',') : [];
            $.ajax({
                url: '/submit_onboarding',
                type: 'POST',
                data: {
                    mainCourses: mainCourse, 
                    desserts: dessert, 
                    cuisines: cuisine, 
                    activities: activity, 
                    districts: selectedLocations
                },
                success: function(user) {
                    
                    localStorage.removeItem('mainCourse');
                    localStorage.removeItem('dessert');
                    localStorage.removeItem('cuisine');
                    localStorage.removeItem('activity');
                    localStorage.removeItem('selectedLocation');
                    window.location.href = '/';
                },
                error: function(error) {
                    console.error('Error:', error);
                    console.log(error);
                }
            });
        }

        function skip() 
        {
            window.location.href = '/';
        }

        function loadOnboarding2Data() {
            let selectedLocations = localStorage.getItem('selectedLocations').split(',') || [];
            $('#location-dropdown').val(selectedLocations).trigger('change');
        }

        
        $(document).ready(function() {
            loadOnboarding2Data();
        });

        $(window).on('pageshow', function(event) {
            if (event.originalEvent.persisted) {
                loadOnboarding2Data();
            }
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="left-frame">
            <div class="milestone" id="milestone1">
                <span class="material-symbols-outlined milestone-symbol">person_search</span>
                <label for="milestone1">What Are Your Interests?</label>
            </div>
            <div class="milestone" id="milestone2">
                <span class="material-symbols-outlined milestone-symbol">person_pin_circle</span>
                <label for="milestone2">What is your preferred location?</label>
            </div>
        </div>
        <div class="right-frame">
            <form action="submit_onboarding" method="post">
                <div class="section">
                    <h2>Looking for an event in </h2>
                    <div class="location-container">
                        <div class="dropdown-section">
                            <select id="location-dropdown" class="location-select" multiple>
                                <option value="Thu Duc City">Thu Duc City</option>
                                <option value="District 1">District 1</option>
                                <option value="District 2">District 2</option>
                                <option value="District 3">District 3</option>
                                <option value="District 4">District 4</option>
                                <option value="District 5">District 5</option>
                                <option value="District 6">District 6</option>
                                <option value="District 7">District 7</option>
                                <option value="District 8">District 8</option>
                                <option value="District 9">District 9</option>
                                <option value="District 10">District 10</option>
                                <option value="District 11">District 11</option>
                                <option value="District 12">District 12</option>
                                <option value="Binh Thanh District">Binh Thanh District</option>
                                <option value="Tan Binh District">Tan Binh District</option>
                                <option value="Tan Phu District">Tan Phu District</option>
                                <option value="Go Vap District">Go Vap District</option>
                                <option value="Binh Chanh District">Binh Chanh District</option>
                                <option value="Cu Chi District">Cu Chi District</option>
                                <option value="Hoc Mon District">Hoc Mon District</option>
                                <option value="Nha Be District">Nha Be District</option>
                            </select>
                        </div>
                    </div>
                    <div class="added-locations"></div>
                </div>
            </form>
        </div>
    </div>
    <div class="footer">
        <button type="button" class="skip-button" onclick="skip()">Skip</button>
        <div class="button-group">
            <button type="button" class="back-button" onclick="back()">Back</button>
            <button type="button" class="finish-button" onclick="finish()">Finish</button>
        </div>
    </div>
    <script src="onboarding2.js"></script>
</body>
</html>