.App {
  text-align: center;
  background-color: #ffcccb; /* Light pink background */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-image {
  background-image: url('D:/HK1_Nam3/SE/DateWise/UI_Export/image/mainPage.jpg');
  background-size: cover;
  background-position: center;
  padding: 2em;
  border-radius: 10px;
}

h1 {
  font-size: 3em;
  margin: 0.5em 0;
  color: white;
}

p {
  font-size: 1.5em;
  margin: 0.5em 0;
  color: white;
}